$whiteClr: #f8f8f8;
$blackClr: #1a1818;

@mixin Button($bg, $color) {
    background: $bg;
    color: $color;
    border: 1px solid $bg;
    padding: 10px 4rem;
    border-radius: 50px;
    cursor: pointer;
}

@mixin TextField {
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 20px;
    outline: 0;
    background: transparent;
}

@mixin FlexItem {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 2rem;
    justify-content: center;
    gap: 2rem;
}